        // rem === 0
        for (let j = 0; j < 4; j += 1) {
            if ((curr & ONE[j]) !== ONE[j]) {
                continue;
            }
            if (j === 3) {
                return false;
            }
            if ((~curr & ZERO[j]) !== ZERO[j]) {
                return false;
            }
            rem = 3 - j;
            break;
        }
    }
    return rem === 0;
};